
@{
    ViewBag.Title = "About";
}



<div id="content">
    <div>
        <label id="label_username"></label>
        <input type="text" id="username"></input>
    </div>
    <div>
        <label id="label_password"></label>
        <input type="password" id="password"></input>
    </div>
    <input type="button" id="button_login" />
</div>

