.smart-style-6 #header {
    border-bottom: none;
}
#toolbar .input-group {
    display:inline-flex;
   
}

.marginLeft15 {
    margin-left: 15px;
}

.header-search > button {
    
}
#toolbar button {
    padding: 4px 7px !important;
}
#toolbar .fa-search:hover{
    cursor:pointer;
}
#toolbar .fa-search {
    color: #2196F3;
    z-index:30;
}
body.smart-style-6 .table > thead > tr > th {
    padding:unset;
}
#showData {
    background:#fff;
}

.bella-checkbox {
    position: relative;
}
/** 将初始的checkbox的样式改变 */
.bella-checkbox input[type="checkbox"] {
    opacity: 0; /*将初始的checkbox隐藏起来*/
}

/** 设计新的checkbox，位置 */
.bella-checkbox label:before {
    content: '';
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}

/** 点击初始的checkbox，将新的checkbox关联起来 */
.bella-checkbox input[type="checkbox"]:checked + label:after {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    top: 15%;
    left: 10%;
    position: absolute;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}

.bella-checkbox label {
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 10px;
}

